*.DS_Store

# Jetbrains
.idea

# Obsidian
.obsidian

# Draft notes
Draft.md
Interview-General-Questions.md
# Templates
Templates/
# Daily Notes
Daily-Notes/
# Idea folder related to personal notes
Ideas/
# Work
VPORT.md
Resume.md

# zk
.zk
